/* anims */
@keyframes fade {
	from {opacity: 0; margin-top: 8px;}
	to {opacity: 1; margin-top: 0;}
}
@keyframes fadeNoMargin {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* styles */
html, body {
	width: 100%; height: 100%; background-color: #2a2a2a;
	margin: 0; padding: 0; font-family: sans-serif; color: #fff;
	user-select: none; overflow: hidden;
}

#authentication {
	display: none; flex-direction: column; gap: 8px; align-items: center;
	justify-content: center; width: 300px; height: 165px;
	transform: translate(-50%, -50%); top: 50%; left: 50%;
	position: fixed; background-color: #393939;
	border-radius: 10px;
}

#authentication span { text-align: center; width: 100%; }

#authentication input {
	height: 24px; background-color: #444; border-radius: 6px;
	border-width: 2px; border-color: #8a8a8a; color: #fff;
	border-style: solid; width: 180px; padding-left: 5px;
	padding-right: 5px;
}
#authentication input:focus { outline: none; }

#authentication #authenticateButton {
	width: 145px; height: 28px; border-radius: 6px;
	border-style: none; cursor: pointer; color: #fff;
	background-color: #2282ff; margin-top: 3px;
}

#mainContent {
  margin-bottom: 100px;
  width: 100%; height: 100%;
  display: none; flex-direction: row;
  animation: fade 250ms ease forwards;
}

#sidebar-button {
	display: flex; align-items: center; justify-content: center;
	position: fixed; right: 5px; top: 5px; border-radius: 8px;
	padding: 6px; background-color: #484848; border-style: none;
	cursor: pointer; box-shadow: 0 0 4px #666; transition: top 400ms ease;
}
#sidebar {
	width: calc(100% - 16px); display: none; height: 330px;
	align-items: center; padding: 8px; border-radius: 16px;
	background-color: #383838; color: #fff; border-top-right-radius: 0;
	flex-direction: column; gap: 4px; border-top-left-radius: 0;
	position: fixed; left: 0; box-shadow: 0 0 10px #bbb; z-index: 1000;
	transition: transform 400ms ease; transform: translateY(-100%);
}
@media (min-width: 1030px) {
	#sidebar {
		display: flex; width: 20%; z-index: auto;
		position: relative; height: auto;
		box-shadow: none; border-radius: 0;
		animation: none; transform: translateY(0);
	}
	#sidebar-button {
		display: none;
	}
}
#sidebar > button, #sidebar > span { width: 100%; font-size: 14px; padding-left: 6px; padding-right: 6px; }
#sidebar > span {
	font-weight: bolder; font-size: 16px; margin-bottom: 2px;
}

#sidebar > button {
	height: 30px; background-color: transparent; color: #fff;
	transition: background-color 150ms ease; text-align: left;
	cursor: pointer; border-radius: 4px; border-style: none;
	display: flex; align-items: center; gap: 6px;
}
#sidebar > button:hover {
	background-color: #424242;
}

#player {
	position: absolute; bottom: 0;
	height: 100px; display: flex;
	background-color: #1f1f1f; gap: 8px;
	width: calc(100% - 16px - 20px); margin: 10px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 10px;
}

#player > .song-info {
	flex: 1; display: flex;
	flex-direction: column;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

#player > .song-info > b {
	display: inline-block; white-space: nowrap;
}

#player > .song-info > span {
	font-size: 12px; color: #888;
	display: inline-block; white-space: nowrap;
}

#player > .song-info > .time {
	display: flex; align-items: center;
	justify-content: center; gap: 2px;
	margin-bottom: 8px; margin-top: 8px;
	font-size: 10px; width: 100%;
}
#player > .song-info > .time > input[type="range"] {
	height: 5px; cursor: pointer; width: 100%;
}

#player > .simg-cont {
	aspect-ratio: 1/1; height: 75px;
	display: flex; align-items: center;
	justify-content: center;
	background-color: #444;
	border-radius: 4px;
	overflow: hidden;
}
#player > .simg-cont > img {
	height: 100%;
}

#controls {
	display: flex; align-items: center;
	gap: 4px; width: 100%; justify-content: center;
}
#controls > button {
	aspect-ratio: 1/1; padding: 2px; border-style: none;
	display: flex; align-items: center; cursor: pointer;
	justify-content: center; background-color: transparent;
}

#albums, #artists {
	flex: 1; width: 100%; gap: 8px;
	overflow-y: scroll; overflow-x: hidden;
	padding: 5px; display: none; flex-wrap: wrap;
	align-items: flex-start; justify-content: center;
}
#songs {
	flex: 1; width: 100%; gap: 8px;
	overflow-y: scroll; overflow-x: hidden;
	padding: 5px; display: flex; flex-wrap: nowrap;
	align-items: center; flex-direction: column;
}
#albums::-webkit-scrollbar { display: none; }
#artists::-webkit-scrollbar { display: none; }
#songs::-webkit-scrollbar { display: none; }

.artist {
	width: 230px; aspect-ratio: 1/1;
	border-radius: 8px; overflow: hidden;
	padding-top: 8px; padding-bottom: 8px;
	display: flex; justify-content: center;
	cursor: pointer; flex-direction: column;
	transition: background-color 200ms ease;
	align-items: center;
}
.artist:hover {
	background-color: #333;
}
.artist div {
	width: 180px; aspect-ratio: 1/1; 
    overflow: hidden; margin-bottom: 16px;
	border-radius: 16px; display: flex;
	background-color: #464646;
	justify-content: center;
	align-items: center;
}
.artist div img {
	height: 100%
}

.artist span {
	font-size: 18px; font-weight: bold;
}

.album {
	width: 230px; aspect-ratio: 1/1;
	border-radius: 8px; overflow: hidden;
	display: flex; align-items: center;
	justify-content: center;
	background-color: #3a3a3a;
	position: relative;
	cursor: pointer;
}
.album img {
	height: 100%;
}
.album > div {
	width: 100%; height: 60px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute; bottom: -60px;
	transition: bottom 220ms ease; gap: 4px;
	display: flex; justify-content: center;
	flex-direction: column; align-items: center;
}
.album > div > h3 { margin: 0; }

.song {
	width: calc(100% - 30px); height: 40px; border-radius: 8px;
	padding: 8px; padding-left: 12px; padding-right: 12px;
	cursor: pointer; display: flex; gap: 8px; align-items: center;
	background-color: #333; transition: background-color 200ms ease;
	flex-shrink: 0;
}
.song:hover {
	background-color: #444;
}

.song > .simg-cont {
	height: 100%; aspect-ratio: 1/1; background-color: #3a3a3a;
	display: flex; align-items: center; justify-content: center;
	overflow: hidden; border-radius: 5px; flex-shrink: 0;
	position: relative;
}
.song > .simg-cont > div {
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%; display: none;
	background-color: rgba(0, 0, 0, 0.6);
	align-items: center; justify-content: center;
}
.song > div > img {
	height: 100%;
}

.song > .sinfo {
	height: 100%; display: flex; gap: 2px;
	flex-direction: column; justify-content: center;
}

.song > .sinfo > b {
	font-size: 16px; display: flex;
	align-items: center; gap: 12px;
}
.song > .sinfo > span {
	font-size: 10px; color: #999;
}
