/* anims */
@keyframes fade {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes come-up {
	from {bottom: -50px}
	to {bottom: 0;}
}
@keyframes come-down {
	from {bottom: 0}
	to {bottom: -50px;}
}
@keyframes comeup_cm {
	from {
		margin-top: 8px;
	} to {
		margin-top: 0;
	}
}
@keyframes turn {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* styles */
html, body {
	width: 100%; height: 100%; background-color: #2a2a2a;
	margin: 0; padding: 0; font-family: sans-serif; color: #fff;
	user-select: none; overflow: hidden;
}

#dim-frame {
	width: 100%; height: 100%; display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed; top: 0; left: 0;
}

#authentication {
	display: none; flex-direction: column; gap: 8px; align-items: center;
	justify-content: center; width: 300px; height: 165px;
	transform: translate(-50%, -50%); top: 50%; left: 50%;
	position: fixed; background-color: #393939;
	border-radius: 10px;
}

#authentication span { text-align: center; width: 100%; }

#authentication input {
	height: 24px; background-color: #444; border-radius: 6px;
	border-width: 2px; border-color: #8a8a8a; color: #fff;
	border-style: solid; width: 180px; padding-left: 5px;
	padding-right: 5px;
}
#authentication input:focus { outline: none; }

#authentication #authenticateButton {
	width: 145px; height: 28px; border-radius: 6px;
	border-style: none; cursor: pointer; color: #fff;
	background-color: #2282ff; margin-top: 3px;
}

#mainContent {
	width: 100%; height: 100%;
	margin: 0; padding: 0; display: none;
}

#path {
	width: calc(100% - 16px); height: 35px; display: flex;
	align-items: center; padding-left: 8px;	padding-right: 8px;
	background-color: #1a1a1a;
}
#path span { width: calc(100% - 58px); }
#path button {
	background-color: transparent; width: 30px; height: 30px;
	border-radius: 8px; border-style: none; display: flex;
	align-items: center; justify-content: center; margin-left: 5px;
	cursor: pointer;
}
#path button:hover { background-color: #444; }

#files {
	margin: 0; padding: 0; height: calc(100% - 39px); padding-top: 4px;
	display: flex; flex-direction: column; overflow-x: hidden; gap: 4px;
	overflow-y: auto; align-items: center;
}

.fileEntry {
	width: calc(100% - 20px); max-height: 40px; display: flex;
	flex-direction: row; align-items: center; min-height: 40px;
	padding-left: 8px; padding-right: 8px;
}

.fileEntry:hover { background-color: #333; }

#textcont {
	display: none; width: 80%; height: 80%; position: fixed;
	transform: translate(-50%, -50%); top: 50%; left: 50%;
	background-color: #000; color: #fff; overflow: auto;
	white-space: pre-line; padding: 10px; border-radius: 8px;
}

.fileEntry span {
	flex: 1; height: 100%; display: flex;
	align-items: center; gap: 8px;
}

.fileEntry button {
	width: 32px; height: 32px; background-color: transparent; display: flex;
	align-items: center; justify-content: center; border-style: none;
	border-radius: 8px; cursor: pointer;
}
.fileEntry button:hover { background-color: #444; }

.fileEntry > span > img {
	width: 20px; aspect-ratio: 1 / 1; animation: turn 1.5s linear infinite forwards;
	display: none;
}

#progress-bar {
	width: 60%; display: none; flex-direction: column;
	gap: 8px; align-items: center; justify-content: center;
	height: 50px; background-color: #333; position: fixed;
	bottom: -50px; transform: translateX(-50%); left: 50%;
	border-top-left-radius: 10px; border-top-right-radius: 10px;
}

#progress-bar span { width: 100%; text-align: center; }

#progress-bar #bar {
	width: 90%; background-color: #fff; height: 4px;
	border-radius: 50px;
}

#progress-bar #bar #complete-bar {
	width: 0%; height: 100%; background-color: #2282ff;
	border-radius: 50px; transition: width 300ms ease;
}

.options {
	width: 180px; height: fit-content;
	background-color: #222; color: #fff;
	padding: 10px; display: none; flex-direction: column;
	align-items: center; gap: 4px; position: fixed;
	animation: comeup_cm 200ms ease forwards; margin-right: 5px;
	right: 50px; border-radius: 16px; top: min(35px, 485px);
}

.options > button {
	width: 100%; height: 40px; background-color: transparent;
	display: flex; align-items: center; color: #fff;
	justify-content: flex-end; flex-direction: row-reverse;
	gap: 6px; font-size: 10px; padding-left: 10px;
	padding-right: 10px;
}
.options > button:hover {
	background-color: #2b2b2b;
}
